html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 15px;
  margin-bottom:30px;
}

.container {
  margin:0 auto;
  margin-top:3em;
}

/* SurvivorList */

.survivor-list {
}

/* Survivor */ 
.survivor-card {
  padding:0;
}
.survivor-card > .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top:5px;
}
.survivor-card > .info {
  font-size:.7em;
}
.survivor-card > .item {
  text-align: center;
  margin-top:1em;
}
.survivor-card > .item > .name {
  font-size:.8em;
  text-transform:uppercase;
  font-weight:bold;
}

.survivor-card .distance {
  background:#eee;
  font-size:.9em;
  color: #b0b0b0;
  margin-top:15px;
  padding:5px 15px;
  text-align: center;
}
