html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #555;
}

label {
  padding:0;
}

a { color: #555; }
a:hover { color: #333; }

.card {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0;
  margin-bottom:30px;
}

.container {
  margin:3em auto;
}
.page {
  padding: 15px 0;
}

/* Navbar */
.navbar {
  background: #eeeeee;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  padding: 15px;
}
.btn-navbar {
  margin-left: 15px;
}
.navbar-form {
  display: inline;
  padding: 0;
}
.navbar-actions {
  background: #fff;
  margin-bottom: 15px;
  padding: 0;
}

/* SurvivorList */
.survivor-list {
  padding:15px;
}

/* SurvivorPage */
.survivor-page { padding:0; }
.survivor-page > .info { padding:15px; }
.survivor-page > .info > .name { margin:0; }
.survivor-page > .info > .details { margin-bottom: 15px; }
.survivor-page > .info > .actions { text-align: right; }

.map {
  height: 300px;
  padding:0;
  position: relative;
}
.map-canvas {
  width: 100%;
  height: 100%;
}

.btn-report { }


/* Survivor */
.survivor-card {
  padding:0;
}
.survivor-card > .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top:5px;
}
.survivor-card > .info {
  font-size:.7em;
  margin-bottom:15px;
}

.survivor-card .distance {
  background:#eee;
  font-size:.9em;
  color: #b0b0b0;
  margin-top:15px;
  padding:5px 15px;
  text-align: center;
}
/* Properties */
.item {
  text-align: center;
}
.item-list > .item > .qty {
  font-size:1.5em;
}
.item-list > .item > .name {
  font-size:.8em;
  font-weight:bold;
  padding:0;
  text-transform:uppercase;
}

.my-stats { padding:0; }
.my-stats > .name {
  font-size: 1.5em;
  font-weight: 600;
  padding:0;
}

/* AddSurvivorForm */
.form-footer {
  margin-top: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.items {
  padding:0;
  margin-top: 30px;
}
.ReactModal__Content {
  width: 50%;
  top:auto;
  left:auto;
  right:auto;
  bottom:right;
}
/* Trade */
.trade-page { padding: 0; }
.origin {
  background: #dddddd;
  padding: 15px 0;
}

@media (max-width: 749px){
  .ReactModal__Content {
    width: 80%;
  }
}
